<h1>Listing escuelas</h1>

<table>
  <tr>
    <th>Nro</th>
    <th>Nombre</th>
    <th>Localidad</th>
    <th>Nivel</th>
    <th>Region</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @escuelas.each do |escuela| %>
  <tr>
    <td><%= escuela.nro %></td>
    <td><%= escuela.nombre %></td>
    <td><%= escuela.localidad %></td>
    <td><%= escuela.nivel %></td>
    <td><%= escuela.region %></td>
    <td><%= link_to 'Show', escuela %></td>
    <td><%= link_to 'Edit', edit_escuela_path(escuela) %></td>
    <td><%= link_to 'Destroy', escuela, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Escuela', new_escuela_path %>
