<%= stylesheet_link_tag 'select2' %>
<%= javascript_include_tag 'select2' %>
<script>
  $(document).ready(function() { $("#relevamiento_escuela_id").select2(); });
</script>

<%= form_for(@relevamiento, :html => { :class => "form-horizontal"}) do |f| %>
  <% if @relevamiento.errors.any? %>
    <div id="error_explanation" class = "alert alert-error" >
      <h2>No se pudo guardar el relevamiento, tiene los siguientes errores:</h2>

      <ul>
      <% @relevamiento.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <style type="text/css">
    h4{
      margin: 0px;
      padding: 0px;
    }
  </style>

  <% @tipo_roles = ["Alumno","Docente","Auxiliar de educación"] %>



  <legend>Datos Personales</legend> 

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Nombres y apellidos:</strong></label>
        <div class="controls">
          <%= f.text_field :nombre_y_apellido, :style => "width:100%;" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Tipo de documento:</strong></label>
        <div class="controls">
          <%= f.collection_select(:tipo_de_documento_id, TipoDeDocumento.all, :id, :nombre) %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Número de documento:</strong></label>
        <div class="controls">
          <%= f.number_field :nro_documento %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Teléfono de contacto:</strong></label>
        <div class="controls">
          <%= f.text_field :telefono_contacto %>
        </div>
      </div>
    </div>    
  </div>

  <legend>Domicilio Particular</legend> 

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Calle:</strong></label>
        <div class="controls">
          <%= f.text_field :calle, :style => "width:100%;", :title => "Ingrese su domicilio" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">    
    <div class="span3">
      <div class="control-group success">
        <label class="control-label"><strong>Nro:</strong></label>
        <div class="controls">
          <%= f.number_field :nro %>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="control-group success">
        <label class="control-label"><strong>Piso:</strong></label>
        <div class="controls">
          <%= f.text_field :piso %>
        </div>
      </div>
    </div>
     <div class="span3">
      <div class="control-group success">
        <label class="control-label"><strong>Depto:</strong></label>
        <div class="controls">
          <%= f.text_field :depto %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Localidad:</strong></label>
        <div class="controls">
          <%= f.collection_select(:localidad_id, Localidad.all, :id, :nombre) %>
        </div>
      </div>
    </div>
  </div>

  <legend>Establecimiento Educativo</legend>
 
  <div class="row">
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Establecimiento:</strong></label>
        <div class="controls">
          <%= f.collection_select(:escuela_id, Escuela.all, :id, :to_s) %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="control-group success">
        <label class="control-label"><strong>Nivel:</strong></label>
        <div class="controls">
          <%= f.collection_select(:nivel_id, Nivel.all, :id, :nombre) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Tipo de gestión:</strong></label>
        <div class="controls">
          <%= f.collection_select(:tipo_gestion_id, TipoGestion.all, :id, :nombre) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Servicio de transporte público que utiliza:</strong></label>
        <div class="controls">
          <%= f.text_field :servicio_transporte, :style => "width:100%;" %>
        </div>
      </div>
    </div>    
  </div>

  <div class="row">
    <div class="span12" style="margin-top:20px;margin-bottom:20px;">
      <span class="label label-info"><h4>Condición</h4></span>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="span12">
      <div class="control-group success">
        <label class="control-label"><strong>Indique su condición:</strong></label>
        <div class="controls">
          <select name="relevamiento[rol]" id="relevamiento_rol">
          <option value="1">Seleccione una función</option>
            <% @tipo_roles.each do |tp| %>
              <% if @relevamiento.rol == tp %>
                <option selected="selected" value="<%=tp%>"><%=tp%></option>
              <% else %>
                <option value="<%=tp%>"><%=tp%></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>
    </div>    
  </div>

  <div id="alumno">
    <div class="row">
      <div class="span12" style="margin-top:20px;margin-bottom:20px;">
        <span class="label label-success"><h4>Alumno</h4></span>
      </div>
    </div>
    <hr/>

    <div class="row">
      <div class="span12">
        <div class="control-group success">
          <label class="control-label"><strong>Grado/Año:</strong></label>
          <div class="controls">
            <%= f.number_field :grado_anio_alumno, :id => "input_grado_anio_alumno" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="span12">
        <div class="control-group success">
          <label class="control-label"><strong>Marque si es alumno regular:</strong></label>
          <div class="controls">
             <%= f.check_box :regular, :id => "check_alumno_regular" %>
          </div>
        </div>
      </div>
    </div>
    <div id="regular">
      
    </div>
  </div>

  <div id="docente">


  <div class="row">
    <div class="span12" style="margin-top:20px;margin-bottom:20px;">
      <span class="label label-success"><h4>Docente</h4></span>
    </div>
  </div>
  <hr/>
    
    <div class="row">
      <div class="span12">
        <div class="control-group success">
          <label class="control-label"><strong>Marque si es docente activo:</strong></label>
          <div class="controls">
            <%= f.check_box :activo_pasivo_docente, :id => "check_activo_pasivo_docente" %>
          </div>
        </div>
      </div>    
    </div>
    <div id="docente_activo">
      <div class="row">
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Marque si cumple su función frente a grupo de alumnos:</strong></label>
            <div class="controls">
              <%= f.check_box :frente_alumnos, :id => "check_frente_alumnos" %>
            </div>
          </div>
        </div>    
      </div>
      <div id="frente_alumno">
        <div class="row">
          <div class="span6">
            <div class="control-group success">
              <label class="control-label"><strong>Grado:</strong></label>
              <div class="controls">
                <%= f.text_field :grado_docente, :id => "input_grado_docente" %>
              </div>
            </div>
          </div>
          <div class="span6">
            <div class="control-group success">
              <label class="control-label"><strong>Turno:</strong></label>
              <div class="controls">
                <%= f.text_field :turno_docente, :id => "input_turno_docente" %>
              </div>
            </div>
          </div>     
        </div>
      </div>
    </div>
  </div>

  <div id="aux">

  <div class="row">
    <div class="span12" style="margin-top:20px;margin-bottom:20px;">
      <span class="label label-success"><h4>Auxiliar de educación</h4></span>
    </div>
  </div>
  <hr/>
    
    <div class="row">
      <div class="span12">
        <div class="control-group success">
          <label class="control-label"><strong>Marque si es auxiliar activo:</strong></label>
          <div class="controls">
            <%= f.check_box :activo_pasivo_aux, :id => "check_activo_pasivo_aux" %>
          </div>
        </div>
      </div>    
    </div>
    <div id="aux_activo">
      <div class="row">
        <div class="span12">
          <div class="control-group success">
            <label class="control-label"><strong>Lugar donde cumple su función:</strong></label>
            <div class="controls">
              <%= f.text_field :lugar_auxiliares, :id => "input_lugar_auxiliares" %>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>
  <div id="cuadras">
    
    <div class="row">
      <div class="span12" style="margin-top:20px;margin-bottom:20px;">
        <span class="label"><h4>Distancia al establecimiento</h4></span>
      </div>
    </div>
    <hr/>
    
    <div class="row">
      <div class="span6">
        <div class="control-group success">
          <label class="control-label"><strong>Cantidad de cuadras al establecimiento:</strong></label>
          <div class="controls">
            <%= f.number_field :cant_cuadras, :class => "input_alumno", :id => "input_cant_cuadras" %>
          </div>
        </div>
      </div>
      <div class="span6">
        <div class="control-group success">
          <label class="control-label"><strong>Cantidad de kilómetros al establecimiento:</strong></label>
          <div class="controls">
            <%= f.text_field :distancia_km, :id => "input_distancia_km" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
  </div>
<% end %>

<script type="text/javascript">
  $( document ).ready(function() {
    $("#alumno").addClass('hidden');
    $("#docente").addClass('hidden');
    $("#aux").addClass('hidden');
    $("#regular").addClass('hidden');
    $("#docente_activo").addClass('hidden');
    $("#aux_activo").addClass('hidden');
    $("#frente_alumno").addClass('hidden');    
    $("#cuadras").addClass('hidden');

    // ToolTip
    $('#relevamiento_calle').tooltip();

    
    //$( "#foo" ).trigger( "click" );

    $( "#relevamiento_rol" ).change(function() {
      if ($( "#relevamiento_rol option:selected" ).text() == "Alumno"){

      if ($("#check_alumno_regular").attr("checked") == "checked"){
        $("#cuadras").removeClass('hidden');
      } else {
        $("#cuadras").addClass('hidden');
      }


        //habilito todo lo de alumno
        $("#alumno").removeClass('hidden');

        //acá oculto todo lo de aux
        $("#aux").addClass('hidden');
        $("#aux_activo").addClass('hidden');
        //$("#input_cant_cuadras_aux").val(""); 
        //$("#input_distancia_km_aux").val("");
        $("#check_activo_pasivo_aux").prop("checked",false);
        $("#input_lugar_auxiliares").val("");

        //acá oculto todo lo de docente
        $("#docente").addClass('hidden');
        $("#docente_activo").addClass('hidden');
        $("#frente_alumno").addClass('hidden');

        $("#input_cant_cuadras").val(""); 
        $("#input_distancia_km").val("");
        $("#check_activo_pasivo_docente").prop("checked",false);
        $("#check_frente_alumnos").prop("checked",false);
        $("#input_grado_docente").val("");
        $("#input_turno_docente").val("");

      };
      if ($( "#relevamiento_rol option:selected" ).text() == "Docente"){

        if ($("#check_activo_pasivo_docente").attr("checked") == "checked"){
          $("#docente_activo").removeClass('hidden');
        } else {
          $("#docente_activo").addClass('hidden');
        }

      
        if ($("#check_frente_alumnos").attr("checked") == "checked"){
          $("#frente_alumno").removeClass('hidden');
        } else {
          $("#frente_alumno").addClass('hidden');
        }
  

        //habilito todo lo de docente
        $("#docente").removeClass('hidden');
        $("#cuadras").removeClass('hidden');

        //acá oculto todo lo de alumno
        $("#alumno").addClass('hidden');        
        $("#regular").addClass('hidden');
        
        $("#input_grado_anio_alumno").val("");
        $("#check_alumno_regular").prop("checked",false);
        //$("#input_cant_cuadras").val(""); 
        //$("#input_distancia_km").val("");

        //acá oculto todo lo de aux
        $("#aux").addClass('hidden');
        $("#aux_activo").addClass('hidden');
        $("#input_cant_cuadras_aux").val(""); 
        $("#input_distancia_km_aux").val("");
        $("#check_activo_pasivo_aux").prop("checked",false);
        $("#input_lugar_auxiliares").val("");
               
        
      };
      if ($( "#relevamiento_rol option:selected" ).text() == "Auxiliar de educación"){

      if ($("#check_activo_pasivo_aux").attr("checked") == "checked"){
        $("#aux_activo").removeClass('hidden');
      } else {
        $("#aux_activo").addClass('hidden');
      }


        //habilito todo lo de aux
        $("#aux").removeClass('hidden');
        $("#cuadras").removeClass('hidden');    
        
        //acá oculto todo lo de alumno
        $("#alumno").addClass('hidden');        
        $("#regular").addClass('hidden');
        
        $("#input_grado_anio_alumno").val("");
        $("#check_alumno_regular").prop("checked",false);
        //$("#input_cant_cuadras").val(""); 
        //$("#input_distancia_km").val("");

        //acá oculto todo lo de docente
        $("#docente").addClass('hidden');
        $("#docente_activo").addClass('hidden');
        $("#frente_alumno").addClass('hidden');

        $("#input_cant_cuadras").val(""); 
        $("#input_distancia_km").val("");
        $("#check_activo_pasivo_docente").prop("checked",false);
        $("#check_frente_alumnos").prop("checked",false);
        $("#input_grado_docente").val("");
        $("#input_turno_docente").val("");
      };
      if ($( "#relevamiento_rol option:selected" ).text() == "Seleccione una función"){
        //acá oculto todo lo de aux
        $("#aux").addClass('hidden');
        $("#aux_activo").addClass('hidden');
        //$("#input_cant_cuadras_aux").val(""); 
        //$("#input_distancia_km_aux").val("");
        $("#check_activo_pasivo_aux").prop("checked",false);
        $("#input_lugar_auxiliares").val("");
        
        //acá oculto todo lo de alumno
        $("#alumno").addClass('hidden');        
        $("#regular").addClass('hidden');
        $("#cuadras").addClass('hidden');
        
        $("#input_grado_anio_alumno").val("");
        $("#check_alumno_regular").prop("checked",false);
        //$("#input_cant_cuadras").val(""); 
        //$("#input_distancia_km").val("");

        //acá oculto todo lo de docente
        $("#docente").addClass('hidden');
        $("#docente_activo").addClass('hidden');
        $("#frente_alumno").addClass('hidden');

        $("#input_cant_cuadras").val(""); 
        $("#input_distancia_km").val("");
        $("#check_activo_pasivo_docente").prop("checked",false);
        $("#check_frente_alumnos").prop("checked",false);
        $("#input_grado_docente").val("");
        $("#input_turno_docente").val("");
      };
    });

    $("#relevamiento_rol").trigger("change");

    $("#check_alumno_regular").click(function(){
      if ($(this).attr("checked") == "checked"){
        $("#regular").removeClass('hidden');
        $("#cuadras").removeClass('hidden');
      } else {
        $("#regular").addClass('hidden');
        $("#cuadras").addClass('hidden');
      }
    });
    $("#check_activo_pasivo_docente").click(function(){
      if ($(this).attr("checked") == "checked"){
        $("#docente_activo").removeClass('hidden');
      } else {
        $("#docente_activo").addClass('hidden');
      }
    });
    $("#check_frente_alumnos").click(function(){
      if ($(this).attr("checked") == "checked"){
        $("#frente_alumno").removeClass('hidden');
      } else {
        $("#frente_alumno").addClass('hidden');
      }
    });
    $("#check_activo_pasivo_aux").click(function(){
      if ($(this).attr("checked") == "checked"){
        $("#aux_activo").removeClass('hidden');
      } else {
        $("#aux_activo").addClass('hidden');
      }
    });

    

    //$("#alumno").addClass('hidden');

  });
</script>
