<p id="notice"><%= notice %></p>

<p>
  <b>Nombre y apellido:</b>
  <%= @relevamiento.nombre_y_apellido %>
</p>

<p>
  <b>Tipo de documento:</b>
  <%= @relevamiento.tipo_de_documento_id %>
</p>

<p>
  <b>Nro documento:</b>
  <%= @relevamiento.nro_documento %>
</p>

<p>
  <b>Escuela:</b>
  <%= @relevamiento.escuela_id %>
</p>

<p>
  <b>Nivel:</b>
  <%= @relevamiento.nivel_id %>
</p>

<p>
  <b>Tipo gestion:</b>
  <%= @relevamiento.tipo_gestion_id %>
</p>

<p>
  <b>Localidad:</b>
  <%= @relevamiento.localidad_id %>
</p>

<p>
  <b>Calle:</b>
  <%= @relevamiento.calle %>
</p>

<p>
  <b>Nro:</b>
  <%= @relevamiento.nro %>
</p>

<p>
  <b>Piso:</b>
  <%= @relevamiento.piso %>
</p>

<p>
  <b>Depto:</b>
  <%= @relevamiento.depto %>
</p>

<p>
  <b>Grado anio alumno:</b>
  <%= @relevamiento.grado_anio_alumno %>
</p>

<p>
  <b>Regular:</b>
  <%= @relevamiento.regular %>
</p>

<p>
  <b>Cant cuadras:</b>
  <%= @relevamiento.cant_cuadras %>
</p>

<p>
  <b>Distancia km:</b>
  <%= @relevamiento.distancia_km %>
</p>

<p>
  <b>Servicio transporte:</b>
  <%= @relevamiento.servicio_transporte %>
</p>

<p>
  <b>Telefono contacto:</b>
  <%= @relevamiento.telefono_contacto %>
</p>

<p>
  <b>Rol:</b>
  <%= @relevamiento.rol %>
</p>

<p>
  <b>Activo pasivo docente:</b>
  <%= @relevamiento.activo_pasivo_docente %>
</p>

<p>
  <b>Frente alumnos:</b>
  <%= @relevamiento.frente_alumnos %>
</p>

<p>
  <b>Grado docente:</b>
  <%= @relevamiento.grado_docente %>
</p>

<p>
  <b>Turno docente:</b>
  <%= @relevamiento.turno_docente %>
</p>

<p>
  <b>Activo pasivo aux:</b>
  <%= @relevamiento.activo_pasivo_aux %>
</p>

<p>
  <b>Lugar auxiliares:</b>
  <%= @relevamiento.lugar_auxiliares %>
</p>


<%= link_to 'Edit', edit_relevamiento_path(@relevamiento) %> |
<%= link_to 'Back', relevamientos_path %>
